<footer class="main-footer">
    <div class="footer-links">
        <div class="footer-col">
            <p>Home</p>
            <ul>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Devices</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p>Movies</p>
            <ul>
                <li><a href="#">Genres</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Popular</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p>Shows</p>
            <ul>
                <li><a href="#">Series</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">New Releases</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p>Support</p>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p>Subscription</p>
            <ul>
                <li><a href="#">Plans</a></li>
                <li><a href="#">Features</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p>Connect With Us</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; 2026 Trộm Phim. All rights reserved.</p>
        <div class="legal-links">
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
        </div>
    </div>
</footer>