<header id="navbar">
        <div class="logo">Trộm<span>Phim</span></div>
        <nav>
            <ul>
                <li><a href="/" class="active">Trang chủ</a></li>
                <li><a href="/movie-list">Phim Lẻ</a></li>
                <li><a href="/tv-series">Phim Bộ</a></li>
                <li><a href="/list-anime-series">Anime Series</a></li>
                <li><a href="/list-anime-movie">Anime Movie</a></li>
                <li><a href="/about">Về Tác Giả</a></li>
            </ul>
        </nav>
        <div class="nav-icons">
            <a style="color: white; text-decoration: none;" href="/search"><i class="fas fa-search"></i></a>
            <i class="fas fa-bell"></i>
            <div class="user-avatar"></div>
        </div>
    </header>